
.item {
    width: 45%;
    display: inline-block;
    border: 0.025rem solid #d7d7d7;
    padding: 0.25rem;
    font-size: 0.35rem;
    background: #ffffff;
    border-radius: 0.1rem;


    &:nth-child(even) {
        margin-left: -0.025rem;
    }

    .item-img {
        margin-top: 10px;
    }
}

.scrollview {
    height: calc(100vh - 200px);
    text-align: center;
}