

// 全局引入taro-ui样式(按需引入)
// 使用JS导入可能会导致H5的单位不自动转换为em
@import 'taro-ui/dist/style/components/article.scss'; 


body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #f3f3f3;
    color: #333;
    min-height: 100vh;
    padding: 30px;
}


/* 通用 */
.page-hr {
    margin: 30px 0;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-bottom: 1px inset rgb(194, 194, 194);
}

.page-small {
    font-size: 30px;
}

.page-title {
    font-size: 50px;
    padding: 10px;
    margin-bottom: 15px;
}

.page-desc {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(180, 180, 180);
}


/* 自定义按钮 */
.btn-max-w {
    margin-bottom: 15px;
    font-size: 28px !important;
}